DB_PROVIDER=firestore|mongodb
# In case of "mongodb"
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=dbtest
# In case of "firestore"
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@your-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\nABC...\\n-----END PRIVATE KEY-----\\n"
# Security
GCM_IV_BYTES=16
KEK_SECRET=YourSuperSecretKeyEncryptionKey

# Data for demo and test purposes
DEMO_ORG1_JURISDICTION=ES
DEMO_ORG1_ID-TYPE=TAX
DEMO_ORG1_ID-VALUE=<Tax-ID>
DEMO_ORG1_LEGAL-NAME=<Registered Name>
DEMO_ORG1_ADMIN-EMAIL=admin.org@example.com
DEMO_ORG1_ADMIN-ROLE=org.ilo.ISCO-08:1120
DEMO_ORG1_ADMIN–KID-SIG=<Public-Signature-Key-ID>
DEMO_ORG1_ADMIN–KID-ENC=<Public-Encryption-Key-ID>
DEMO_ADULT1_EMAIL=mother.family@example.com
DEMO_ADULT1_ROLE=PRN
