DB_PROVIDER=firestore|mongodb
# In case of "mongodb"
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=dbtest
# In case of "firestore"
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxx@your-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\nABC...\\n-----END PRIVATE KEY-----\\n"
# Security
GCM_IV_BYTES=16
KEK_SECRET=YourSuperSecretKeyEncryptionKey
